.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none {
    text-decoration: none;
   
}

.cursor {
    cursor: pointer;
     color: white !important;
}

.backgroud {
    background-color: white !important;
}